*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
}

#banner{
    background-image: url(./img/banner.png);
    width: 1980px;
    height: 1280px;
    display: grid;
    align-items: center;
    
    img{
        align-items: center;
        margin: 0 auto;
    }
}